@charset "UTF-8";

.mt-figure {
  &.mt-figure-center {
    margin: 0 0 32px 0;
    @media screen and (min-width: $brake_md+1) {
      margin: 0 0 56px 0;
    }
    img {
      display: none!important;
    }
    figcaption {
      display: none;
    }
  }
}

.rtvContentBox {
  table {
    tr {

    }
    td {
      &:nth-child(2){
        padding: 0 32px;
      }
    }
  }
}